body {
    margin: 0;
}

header#home {
    padding: 2%;
    background-color: rgb(51, 54, 56);
    text-align: center;
}

div#spacing {
    margin-top: 50%;
    margin-bottom: 50%;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
}

h3 {
    text-align: center;
    font-size: 40px;
}

h4 {
    text-align: center;
    font-size: 28px;
}

button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 20px;
    width: 120px;
    height: 50px;
}

.button {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
}


footer {
    background-color: lightgrey;
    padding: 1%;
    text-align: center;
    margin-top: 115px;
    position: relative;
}



.feedback {
    position: relative;
    border-style: solid;
    display : inline-block;
    padding: 20px;
    width: 800px;
    top: 40px;
}

.feedback-center {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.score {
    position: relative;
    top: 40px;
}