body {
    margin: 0;
    font-family: sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
header{
    padding: 1%;
}
footer {
    background-color: lightgrey;
    padding: 1%;
    text-align: center;
}
div {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px; 
}
