body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 120px;
    margin: 0;
    position: relative;
    bottom: 100px;

}

div#spacing {
    margin-top: 0%;
    margin-bottom: 0%;
}

footer {
    background-color: lightgrey;
    padding: 1%;
    text-align: center;
    margin-top: 180px;
    position: relative;
    top: -75px;
}

label {
    text-align: center;
}

input {
    padding: 12px 20px;
    font-size: 26px;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0;
    position: relative;
    bottom: 20px;
}

header#home {
    padding: 2%;
    background-color: rgb(51, 54, 56);
    text-align: center;
}

div#spacing {
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-direction: column;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    background-color: gray;
    color: white;
    font-size: 20px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    bottom: -40px;
}

.submit {
    position: relative;
    top: -120px;
    width: 100px;
}

.start {
    position: relative;
    top: -60px;
}