html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 1%;
    flex-shrink: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
}

section {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header#home {
    padding: 2%;
    background-color: rgb(51, 54, 56);
}

div#spacing {
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

footer {
    background-color: lightgrey;
    padding: 1%;
    text-align: center;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px; 
}


#retryBtn {

    position: relative;
    top: 90px;
}

 .score-display {

    font-size: 30px;
     position: relative;
    bottom: 70px;
}

#titleText {
    
    position: relative;
    top: 55px;
    font-size: 25px;
}